*{
    margin: 0;
    padding: 1px;
}

body {
    background-color: #FFF8E1;
}

.nav_bar {
    background-color: #01579B;
    display: flex;
    margin: 2px;
    padding: 20px;

}

.nav {
    text-decoration: none;
    color: white;
}


button {
    margin-right: ;
}

